
POSTGRES_USER=fozesc_db
POSTGRES_PASSWORD=fozesc_db
POSTGRES_DB=fozesc_db
#POSTGRES_HOST=db
POSTGRES_PORT=5433

POSTGRES_HOST=localhost

FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=chave_super_secreta_para_tokens_e_sessoes